/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}



/* Navigation bar styling */
nav {
    background-color: #333;
    overflow: hidden;
    position: absolute; /* This will make the navbar stay at the top */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the nav bar is above other content */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #555;
}





/* Header styling */
header {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/020/975/168/small/set-of-cityscape-background-skyline-silhouettes-modern-architecture-horizontal-banner-with-megapolis-panorama-building-icon-illustration-city-silhouettes-building-illustration-vector.jpg");
    color: #fff;
    
    text-align: center;
    margin-top: 95px;
    padding: 30px 0;
    z-index: 999;
    height:fit-content;
    width:100%;
}

header h1 {
    margin: 0;
    height:fit-content;
    width:100%
}

/* Section styling */
section {
    padding: 20px;
    margin-top: 20px;
    background-color: #000080;
    color: white; /* Change text color for visibility on dark background */
    clear: both; /* Clear any floats */
}

#project-overview {
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

#project-overview p {
    margin-bottom: 20px;
}





#heatmaps {
    background-color: white;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

#heatmaps h2, #heatmaps p {
    width: 100%;
    margin: 5px 0;
}

.heatmap-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tableauPlaceholder {
    flex: 1 0 40%;
    margin: 5px;
    box-sizing: border-box;
    height: 400px; 
    overflow: hidden;
}


#site-locations {
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

#site-locations p {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: white;
    width: 100%;
    margin-top: auto;
}

/* Ensure content doesn't overlap with footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Responsive layout adjustments */
@media (min-width: 700px) {
    nav ul {
        padding: 0;
    }

    nav ul li {
        display: inline;
    }

    .container {
        width: 85%;
        margin: auto;
        overflow: hidden; /* Clear the float */
    }

    header, footer, nav, section {
        padding: 20px;
    }

    header, footer {
        text-align: center;
    }

    nav {
        text-align: right;
    }
}
img {float: left;}

/* Flexbox Setup For Index / Home */


/* Text Overflow for Index */

.top-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:125px;
}
.container_for_quotes_and_images
 {
     display: flex; 
     align-items: top; 
     justify-content: left; 
     width:33%;
     height:fit-content;
     background-color:antiquewhite
 }

 .container-extra-quotes-left
 {
     display: flex; 
     align-items: top; 
     justify-content: left; 
     width:33%;
     height:auto;
 }

 .container-extra-quotes-right
 {
     display: flex; 
     align-items: top; 
     justify-content: left; 
     width:66%;
     height:auto
 }

 .image
 {
     width: 100px;
     height:100px;
 }

 .quote 
 {
     
     font-size: 1em;
     width:400px;
     height:125px;
     padding-left:5px;
     height:fit-content
 }

 .container_for_quotes_and_images2
 {
     display: flex; 
     align-items: top; 
     justify-content: left; 
     width:66%;
     padding-left: 3px;
     background-color:antiquewhite;
 }

 .quote2
 {
     font-size: 1.5em;
     width:fit-content;
     height: 125px;
     padding-left:5px;
     height:fit-content
 }

 .image2
 {
     width: 100px;
     height:100px;
 }

 .wrapper
 {
     display: flex; 
     align-items: left; 
     justify-content: left;
     height:fit-content
 }

 .styled-wrapper
 {
     display: flex; 
     align-items: left; 
     justify-content: left;
     background-image: none;
 }

 .quote3
 {
    font-size: 1.5em;
    width:fit-content;
    height:fit-content;
    padding-left:5px
 }

 .alt_wrapper
 {
     display: flex; 
     align-items: left; 
     justify-content: left;
     padding-top:15px;
     padding-bottom:15px;
     width:100%
 }

 .container-for-quickjump
 {
     display: flex; 
     align-items: center; 
     justify-content: center; 
     width: 33%;
 }

 .container-for-synopses
 {
     display: flex; 
     align-items: top; 
     justify-content: top;
     width:66%;
 }

 
/* Electrospray Flexboxes */

.gif 
{
    height: fit-content;
    width: 700px;
}

.container-for-gif
 {
     display: flex; 
     align-items: center; 
     justify-content: center; 
     width: 50%;
     height:fit-content
 }

 .container-for-breakdown
 {
     display: flex; 
     align-items: top; 
     justify-content: center;
     width:65%;
     height: 100%
     
    
 }

 .diagram
 {
    height:800px;
    width:800px;
    
 }
 
 .container-for-diagram
 {
     display: flex; 
     align-items: left; 
     justify-content: left;
     width:40%;
 }


 .breakdown
 {
    font-size: x-large;
    height:fit-content;
    width:100%;
    padding-left: 3px;
    padding-right: 3px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    
    
    
 }

 .electro-wrapper
{
    display: flex; 
     align-items: center; 
     justify-content: center;
     width:100%;
     border-bottom: 3px solid black;
}

/* Location Tab Flexboxes */
.container-for-location-images
{
    width: 33%;
    display: flex; 
     align-items: center; 
     justify-content: center;
}

.container-for-gmap
{
    width: 100%;
    display: flex; 
     align-items: center; 
     justify-content: center;
     padding-bottom: 20px;
}


.container-for-subsection
{
    width: 25%;
    display: flex; 
     align-items: center; 
     justify-content: center;
}

.container-for-exp
{
    width: 75%;
    display: flex; 
     align-items: center; 
     justify-content: top;
}

.location-wrapper
{
    display: flex; 
     align-items: left; 
     justify-content: left;
     padding-bottom: 10px;
     padding-top: 10px;
     border-bottom: 3px solid #000;
}

.exp
{
    width: 500px;
    height:fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size:large;
}








 /* CSS for the switch */
    /* Rounded switch */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
  
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
  
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
      }
  
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
      }
  
      input:checked + .slider {
        background-color: #2196F3;
      }
  
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
  
      input:checked + .slider:before {
        transform: translateX(26px);
      }
  
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
  
      .slider.round:before {
        border-radius: 50%;
      }

/*Cool Button */
.btn {
    padding: 1rem 2rem;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: blueviolet;
    border-radius: .5rem;
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
       border-left, 
       border-bottom,
       border-right,
       box-shadow;
   }
   
   .btn:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
   }